.main-page_layout {
    display: flex;
    width: 100vw;
    height: auto;
    padding-top: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.main-page_layout-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
  