.userAvatar_div-container {
    width: 140px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.userAvatar_p {
    font-style: normal;
    font-weight: 700;
    color: #173C6C;
    font-size: 1rem;
}